html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --main-font: "Inter", sans-serif;
  --light-text-color: #666666;
  --text-color: #222222;
  --main-color: #f97171;
  --divider-color: #f7f5f4;
  --main-background-color: #faf6f3;
  --white-background-color: #ffffff;
  --highlight-color: #feeef2;
  --grey-background-color: #f5f5f5;
}
body {
  position: relative;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
